
//primary color
$primary-color: #829fff;

//card style
$card-background : #fbfcff;
$card-hover-background : #fff;

//profile background
$profile-background : #808080;

//Search Placeholder
$search-placeholder: #505467;

//Menu text color
$menu-text-color: #fff;
