@import '../../styles/colors.scss';
@import '../../styles/variables.scss';


.search-container {
    position: relative;
    width: 300px;
  
    .search-input {  
      width: 350px;
      padding: 20px 40px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      font-size: $font-size;
  
      &::placeholder {
        font-weight: bold;
      }
  
      &:focus {
        border-color: $primary-color; 
      }
    }
  
    .search-icon {
      position: absolute;
      top: 50%;
      left: 10px; 
      transform: translateY(-50%);
      color: $search-placeholder;
      font-size: $search-icon-size;
    }
  }
  