@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.menu {
    display: flex;
    text-align: center;
    height: 100%;
  
    .menu-item {
      @include center-content;
        width: 100px;
        height: 100%;
        padding: 10px;
        margin-right: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;

        a{
          text-decoration: none;
          color: $search-placeholder;
        }
  
      &:hover {
        background-color: $primary-color;
        a{
          color: $menu-text-color;
        }
      }
      
    }
    .active {
        background-color: $primary-color;
        a{
          color: $menu-text-color;
        }
      }
  }